/*Обнуление*/
* {
	padding: 0;
	margin: 0;
	border: 0;
}
*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,
:active {
	outline: none;
}
a:focus,
a:active {
	outline: none;
}
nav,
footer,
header,
aside,
main {
	display: block;
}
html,
body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
	font-family: inherit;
}
input::-ms-clear {
	display: none;
}
button {
	cursor: pointer;
}
button::-moz-focus-inner {
	padding: 0;
	border: 0;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
/* ul li {
	list-style: none;
} */
img {
	vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: inherit;
}
/*--------------------*/

.wrapper {
	display: flex;
	width: 100%;
	height: 100%;
}
.show-task {
	width: 50%;
	height: 100%;
}
.show-list {
	width: 50%;
	height: 100%;
}
ol li {
	font-size: 22px;
	margin: 0px 0px 10px 0px;
}
ul li {
	font-size: 20px;
	margin: 0px 0px 5px 10px;
	cursor: pointer;
	transition: all 0.2s;
}
ul li:hover {
	font-size: 21px;
	color: cornflowerblue;
}
ul p {
	display: none;
	font-size: 16px;
	padding: 5px;
	font-style: italic;
}

/* .style-1 {
	background-color: cornflowerblue;
	height: 30px;
	line-height: 30px;
	text-align: center;
	margin: 0px auto 10px;
} */
/* ============================================================================================================================================ */
/* .style-2 {
	height: 50px;
	width: 800px;
	line-height: 50px;
	text-align: center;
	margin: 0px auto 20px;
} */
/* ============================================================================================================================================ */
/* .style-table {
	border: 3px solid #000000;
	border-collapse: collapse;
}
.style-td {
	width: 50px;
	height: 50px;
	border: 1px solid #000000;
}
.style-td-black {
	width: 50px;
	height: 50px;
	border: 1px solid #000000;
	background-color: #000000;
} */
/* ============================================================================================================================================ */
#block_1 {
	display: none;
}
.svetofor {
	margin: 20px auto;
	padding: 30px;
	width: 130px;
	background-color: #696969;
	background-image: linear-gradient(99deg, #4d4d4d 50%, #333 50%);
	border: 5px groove #716d6d;
	border-radius: 60px;
	box-shadow: inset 2px 2px 9px rgba(0, 0, 0, 0.63);
}
.circle {
	width: 60px;
	height: 60px;
	border: 4px groove #696565;
	border-radius: 50%;
	background-color: #aaa;
	margin-bottom: 40px;
	box-shadow: inset 2px 2px 9px rgba(0, 0, 0, 0.63);
}
.circle:last-of-type {
	margin-bottom: 0;
}
.red {
	background-color: red;
}
.yellow {
	background-color: yellow;
}
.green {
	background-color: limegreen;
}
/* ============================================================================================================================================ */
.circle {
	display: inline-block;
	width: 60px;
	height: 60px;
	border: 4px groove #696565;
	border-radius: 50%;
	background-color: #aaa;
	margin-bottom: 40px;
	margin-right: 20px;
	box-shadow: inset 2px 2px 9px rgba(0, 0, 0, 0.63);
}
.red {
	background-color: red;
}
.yellow {
	background-color: yellow;
}
.green {
	background-color: limegreen;
}
/* ============================================================================================================================================ */
#block_2 {
	display: none;
}
.slide__box {
	height: 200px;
	display: flex;
	justify-content: center;
}
.slide__img {
	width: 10%;
	height: 200px;
	border: 2px dotted #000000;
}
.slide__img img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.overlay__box {
	position: absolute;
	left: -100%;
	top: 200px;
	width: 500px;
	z-index: 2;
}
.overlay__box.overlay__box-active {
	left: 50%;
	transform: translateX(-50%);
}
.overlay__img {
	width: 500px;
	height: 500px;
}
.overlay__img img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.overlay-active {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.7);
}
/* ============================================================================================================================================ */
#block_3 {
	display: none;
}
.replace-box {
	display: flex;
	justify-content: center;
	padding: 20px;
}
.replace-box__img {
	width: 200px;
	border: 2px dotted darkblue;
	margin: 0px 10px 0px 0px;
}
.replace-box__img:last-child {
	margin: 0;
}
.replace-box__img img {
	max-width: 100%;
}
/* ============================================================================================================================================ */
.numBox {
	display: inline-block;
	width: 80px;
	height: 105px;
	padding: 20px;
	border: 3px dashed #666;
	border-radius: 10px;
	font-size: 3.2rem;
	text-align: center;
	margin: 20px;
	position: relative;
	cursor: pointer;
}

.numBox:after {
	content: "";
	position: absolute;
	width: 130%;
	height: 120%;
	border: 3px solid #666;
	border-radius: 15px;
	top: -10%;
	left: -15%;
}

.numBox.red {
	color: #f00;
	border-color: #f00;
	background-image: repeating-linear-gradient(45deg, transparent 10px, #ffd8d8 30px);
}
/* ============================================================================================================================================ */
.table-guess td {
	width: 70px;
	height: 70px;
	border: 2px solid cadetblue;
	text-align: center;
	font-size: 24px;
}
